/* common css */

body{
    margin: 10px 50px;
}

h1{
    color: rgb(29, 157, 241);
    text-align: center;
}

p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

h3{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}

h2{

    margin-top: 10px;
    text-align: center;
    font-size: 25px;

}

/* input feild */
input{
    background-color: rgba(187, 224, 241, 0.863);
    border-radius: 10px;
    padding: 8px;
    margin-top: 10px;
    border: 0;   
}

/* img section */

image{
    height: 80%;
    
}


/* calculation section */

button{

    background-color: rgb(0, 162, 255);
    color: white;
    margin-top: 20px;
    padding: 10px 12px;
    border-radius: 5px;
    border: 0;  
}

.btn-center{
    margin: 0 230px;
    margin-top: 10px;
    
}

.section-calc{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px 30px;
    

}






@media (max-width:600px) {

    .btn-center{
        margin: 0 130px;
        margin-top: 10px;
        
    }

}
